@import "tailwindcss";

:root {
  font-family: var(--font-space-grotesk), sans-serif;
}



html {
  background-color: #edf2f7; /* Tailwind's light bg-gray-200 */
  color: #1a202c; /* Tailwind's light text-gray-900 */
}

html.light {
  background-color: #edf2f7; /* Tailwind's bg-gray-200 */
  color: black; /* Tailwind's text-gray-900 */
}

html.dark {
  background-color: #1a202c; /* Tailwind's bg-gray-800 */
  color: #ffffff; /* Tailwind's text-gray-100 */
}

html.blue {
  background-color: #2b6cb0; /* Tailwind's blue-600 */
  color: #ebf8ff; /* Tailwind's text-blue-100 */
}

html.green {
  background-color: #2f855a; /* Tailwind's green-700 */
  color: #f0fff4; /* Tailwind's text-green-100 */
}
html.magenta {
  background-color: #be31ac; /* Tailwind's green-700 */
  color: #f0fff4; /* Tailwind's text-green-100 */
}
html.orange {
  background-color: #df7c20; /* Tailwind's green-700 */
  color: #f0fff4; /* Tailwind's text-green-100 */
}
html.yellow {
  background-color: #df7c20; /* Tailwind's green-700 */
  color: #f0fff4; /* Tailwind's text-green-100 */
}
html.red {
  background-color: #e53e3e; /* Tailwind's green-700 */
  color: #ffffff; /* Tailwind's text-green-100 */
}

html.purple {
  background-color: #633399; /* Tailwind's green-700 */
  color: #ffffff; /* Tailwind's text-green-100 */
}

html.teal {
  background-color: #3498db; /* Tailwind's green-700 */
  color: #f0fff4; /* Tailwind's text-green-100 */
}

html.pink {
  background-color: #e831b9; /* Tailwind's green-700 */
  color: #f0fff4; /* Tailwind's text-green-100 */
}

html.gray {
  background-color: #818181; /* Tailwind's green-700 */
  color: #f0fff4; /* Tailwind's text-green-100 */
}

html.blue-gray {
  background-color: #34495e; /* Tailwind's green-700 */
  color: #f0fff4; /* Tailwind's text-green-100 */
}

html.brown {
  background-color: #563d7c; /* Tailwind's green-700 */
  color: #f0fff4; /* Tailwind's text-green-100 */
}
